.grid-system(@grid-columns: 12, @grid-gutter: 20px) {
  @grid-width: @widthContent/@grid-columns;

  /* Containers
  ----------------------------------------------------------------------------------------------------*/
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: (@grid-gutter / 2);
    padding-right: (@grid-gutter / 2);
    width: @widthContent;
    box-sizing: border-box;
    &:extend(.clear-fix all);
    .row {
      margin-left: -(@grid-gutter / 2);
      margin-right: -(@grid-gutter / 2);
      &:extend(.clear-fix all);
    }
  }

  /* Columns
  ----------------------------------------------------------------------------------------------------*/
  [class|=col-px], [class*=col-px-] {
    min-height: 1px;
    padding-left: (@grid-gutter / 2);
    padding-right: (@grid-gutter / 2);
    box-sizing: border-box;
    .pr;
    .fl;
  }
  .make-grid(@index) when (@index > 0) {
    .col-px-@{index} {
      width: @grid-width*@index;
    }
    .make-grid(@index - 1);
  }
  .container {
    .make-grid(@grid-columns);
  }

  /* Extra Space
  ----------------------------------------------------------------------------------------------------*/
  .make-extra-space(@index) when (@index > 0) {
    .col-px-offset-@{index} {
      margin-left: @grid-width*@index;
    }
    .col-px-push-@{index} {
      left: @grid-width*@index;
    }
    .col-px-pull-@{index} {
      left: -(@grid-width*@index);
    }
    .make-extra-space(@index - 1);
  }
  .container {
    .make-extra-space(@grid-columns - 1);
  }
}

.grid-system();
